/* SECTION General */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
	-ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
	user-select: none; /* Propriété standard */
}

body {
	background-color: #24282b;
	color: #e8e8e8;
	font-family: "Quicksand", sans-serif;
}

section.section_all_screen {
	width: 100%;
	height: 100vh;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Chakra Petch", sans-serif;
}

nav,
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.1s opacity ease;
}
a:hover {
	opacity: 1;
}

/* !SECTION */

/* SECTION Curtain */
/*
.curtain {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	height: 100vh;
	width: 100vw;
	background-color: rgb(31, 31, 31);
	z-index: 100;
	align-items: center;
	justify-content: center;

	animation: 150ms disappear linear;
	animation-delay: 1100ms;
	animation-fill-mode: forwards;
}

.curtain .loader_contain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	max-width: 400px;
}

@media (max-width: 650px) {
	.curtain .loader_contain {
		width: 80%;
	}
}

.curtain .loader_contain .loader_text {
	font-size: 20px;
}

.curtain .loader_contain .loader {
	height: 30px;
	width: 100%;
	border: 2px solid #eee;
	margin-top: 10px;
	padding: 2px;
	padding-right: 0;
	display: flex;
	flex-direction: row;
}

.curtain .loader_contain .loader div:nth-child(2) {
	animation-delay: 50ms;
}
.curtain .loader_contain .loader div:nth-child(3) {
	animation-delay: 100ms;
}
.curtain .loader_contain .loader div:nth-child(4) {
	animation-delay: 150ms;
}
.curtain .loader_contain .loader div:nth-child(5) {
	animation-delay: 200ms;
}
.curtain .loader_contain .loader div:nth-child(6) {
	animation-delay: 250ms;
}
.curtain .loader_contain .loader div:nth-child(7) {
	animation-delay: 300ms;
}
.curtain .loader_contain .loader div:nth-child(8) {
	animation-delay: 350ms;
}
.curtain .loader_contain .loader div:nth-child(9) {
	animation-delay: 400ms;
}
.curtain .loader_contain .loader div:nth-child(10) {
	animation-delay: 450ms;
}
.curtain .loader_contain .loader div:nth-child(11) {
	animation-delay: 500ms;
}
.curtain .loader_contain .loader div:nth-child(12) {
	animation-delay: 650ms;
}
.curtain .loader_contain .loader div:nth-child(13) {
	animation-delay: 700ms;
}
.curtain .loader_contain .loader div:nth-child(14) {
	animation-delay: 750ms;
}
.curtain .loader_contain .loader div:nth-child(15) {
	animation-delay: 800ms;
}
.curtain .loader_contain .loader div:nth-child(16) {
	animation-delay: 850ms;
}
.curtain .loader_contain .loader div:nth-child(17) {
	animation-delay: 900ms;
}
.curtain .loader_contain .loader div:nth-child(18) {
	animation-delay: 950ms;
}
.curtain .loader_contain .loader div:nth-child(19) {
	animation-delay: 1000ms;
}
.curtain .loader_contain .loader div:nth-child(20) {
	animation-delay: 1050ms;
}

.curtain .loader_contain .loader .loader_item {
	opacity: 0;
	width: calc(5% - 2px);
	height: 100%;
	background-color: green;
	flex-shrink: 1;
	border-radius: 2px;

	animation-name: appear;
	animation-duration: 10m;
	animation-fill-mode: forwards;
}

.curtain .loader_contain .loader .loader_item:not(:last-of-type) {
	margin-right: 2px;
}

@keyframes appear {
	from {
		opacity: 0;
	}
	1% {
		opacity: 1;
	}
	to {
		opacity: 1;
	}
}
@keyframes disappear {
	to {
		opacity: 0;
		display: none;
		position: fixed;
		z-index: -5;
	}
}
*/

/* !SECTION */

/* SECTION Header */

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 100px 10px 40px;
	background-color: rgba(26, 24, 34, 0.25);
}

header div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

header div h2 {
	font: normal 35px "Chakra Petch";
	display: flex;
	align-items: center;
}

.menu_item_container {
	display: none;
}

header div div.logo_img {
	height: 28px;
	width: 64px;
	margin-right: 5px;
	background-size: auto 100%;
}

header nav {
	display: flex;
	font-family: "Quicksand", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
}

header nav li {
	margin: 0 25px;
}
/* header nav li:hover {
	padding-bottom: 2px;
} */

@media (max-width: 1150px) {
	header {
		padding: 10px 50px 10px 25px;
	}
}
@media (max-width: 1100px) {
	header {
		/* padding: 10px 50px 10px 25px; */
		flex-direction: column;
	}
	header nav {
		justify-content: space-around;
		margin-top: 15px;
		width: 100%;
	}
	header nav li {
		margin: 0;
	}
	header div div.logo_img {
		margin-right: 30px;
	}
}
@media (max-width: 650px) {
	header {
		padding: 10px 0 10px;
	}
	header div#header_content {
		width: 100%;
		padding: 0 50px 0 20px; /* DO: Change padding-right under xxx px screen width (Galaxy Z-Fold) */
		justify-content: space-between;
	}
	header div h2 {
		font-size: 40px;
		letter-spacing: 2px;
	}
	header div div.logo_img {
		display: none;
	}
	header nav {
		flex-direction: column;
		align-items: center;
		margin-top: 0;
	}
	header nav li {
		padding: 10px 0 10px;
		background-color: rgba(46, 46, 46, 0.432);
		border-top: 1px solid rgba(255, 255, 255, 0.267);
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 1;
		flex-grow: 1;
		font-size: 22px;
		letter-spacing: 1px;
		transition: 0.3s background-color ease;
		transition: 0.5s letter-spacing ease;
	}
	header nav li:last-of-type {
		border-bottom: 1px solid rgba(255, 255, 255, 0.267);
	}
	header nav li:hover {
		background-color: rgba(255, 255, 255, 0.171);
		letter-spacing: 2px;
	}
	header nav li:active {
		background-color: rgba(255, 255, 255, 0.329);
	}
	header nav li:first-of-type {
		margin-top: 20px;
	}

	/* OPEN / CLOSE menu icon toggle visible */

	header .menu_item_container {
		display: flex;
	}
}
@media (max-width: 320px) {
	header div#header_content {
		padding: 0 30px 0 10px;
	}
	header {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

/* OPEN / CLOSE Menu icon animation */
input#menu_tkbx {
	display: none;
}

label.menu_item_container {
	/* margin-left: 20px; */
	flex-direction: row;
	align-items: center;

	z-index: 200;
	background: transparent;
	cursor: pointer;
	height: 100%;
}

.menu_item_container .menu_central_bar,
.menu_item_container .menu_central_bar::before,
.menu_item_container .menu_central_bar::after {
	background-image: linear-gradient(to right, rgb(204, 58, 0), rgb(255, 145, 0)); /* TODO Change color */
	content: "";
	display: block;
	height: 4px;
	border-radius: 2px;
	position: relative;
	transition: top ease 0.3s, transform ease 0.3s;
	width: 45px;
}

/* .menu_item_container:hover .menu_central_bar,
.menu_item_container:hover .menu_central_bar::before,
.menu_item_container:hover .menu_central_bar::after {
	### - BackGround if necessary
} */

.menu_item_container .menu_central_bar::before {
	top: calc(-9px - 4px);
}

.menu_item_container .menu_central_bar::after {
	top: 9px;
}

#menu_tkbx:checked + .menu_item_container .menu_central_bar {
	background: transparent;
}

#menu_tkbx:checked + .menu_item_container .menu_central_bar::before {
	transform: rotate(40deg);
}

#menu_tkbx:checked + .menu_item_container .menu_central_bar::after {
	transform: rotate(-40deg);
}

#menu_tkbx:checked + .menu_item_container .menu_central_bar::before {
	top: 0;
	transition: top ease 0.3s, transform ease 0.3s;
}
#menu_tkbx:checked + .menu_item_container .menu_central_bar::after {
	top: -3px;
	transition: top ease 0.3s, transform ease 0.3s;
}

@media (max-width: 320px) {
	.menu_item_container .menu_central_bar,
	.menu_item_container .menu_central_bar::before,
	.menu_item_container .menu_central_bar::after {
		width: 35px;
	}
}

/* !SECTION */

/* SECTION Landing */

section#landing {
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.landing_center {
	padding: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(26, 24, 34, 0.25);
	transition: 1s margin-top ease;
	/* box-shadow: rgba(26, 24, 34, 0.25) 0 0 5px 0; */
}

.landing_center .written_text {
	font-size: 20px;
	padding-right: 5px;

	opacity: 0;
	animation: 1.2s blink linear infinite;
}

@keyframes blink {
	from {
		border-right: 2px solid #eee;
	}
	29.999% {
		border-right: 2px solid #eee;
	}
	30% {
		border-right: 2px solid transparent;
	}
	to {
		border-right: 2px solid transparent;
	}
}

h1 {
	font: normal 50px "Chakra Petch";
	/* margin-bottom: 100px; */
	opacity: 0;
	transform: translateX(-100px);
	transition: margin-bottom 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

/* !SECTION */
/* SECTION sct° 2 */
/* SECTION defil_msg */
section#section_2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#section_2 h3 {
	text-transform: uppercase;
	margin-bottom: 10px;
}

/* - Text slider - */
.defile_msg {
	display: block;
	padding: 5px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
}

.defile_msg div {
	position: absolute;
	min-width: 100%; /* au minimum la largeur du conteneur */
}

.defile_msg div span,
.defile_msg div:after {
	position: relative;
	display: inline-block;
	font-size: 25px;
	white-space: nowrap;
	top: 0;
}

.defile_msg div span {
	animation: defilement 10s infinite linear;
}

.defile_msg div:after {
	position: absolute;
	top: 0;
	left: 0;
	content: attr(data-text);
	animation: defilement2 10s infinite linear;
}

@keyframes defilement {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -100%;
	}
}

@keyframes defilement2 {
	0% {
		margin-left: 100%;
	}
	100% {
		margin-left: 0%;
	}
}
/* !SECTION */
/* SECTION Philemon */

/* !SECTION */
/* !SECTION */
